
html {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
}
body{
  max-width: 800px;
  margin: auto;
  font-family: 'helvetica', 'arial', 'sans';
}
h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}
p{
  width: 800px;
}
.header {
  background: #fff;
  color: #000;
  height: 500px;
  padding: 30px 30px 30px;
  /* width: 800; */
}

.header h1 {
  font-size: 50px;
  }
img{
  display: block;
}
.assignments{
  width: 1000px;
}
.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  float: left;
  
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
  margin-top: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
li{
  margin-top: 5px;
}
img{
  padding-bottom: 50px;
  
}
.lastSen{
  padding-bottom: 30px;
}